---
layout: default
pageName: team
title: CIBC Square Team
description: CIBC Square is a multi-phase commercial development in downtown Toronto, comprising two office towers (81 Bay Street and 141 Bay Street) connected by an expansive, landscaped park. CIBC Square will feature PATH access, LEED/WELL design, and best-in-class amenities. The CIBC Square team is Ivanho&eacute; Cambridge, Hines, Wilkinson Eyre Architects, Adamson Associates Architects, and Cushman & Wakefield.
looping-video: /assets/looping-videos/Team/Team.mp4
looping-video-poster: /assets/looping-videos/Team/Team.jpg
---

<div class="m60"></div>
{% include titlebox.html titleText="An Internationally <span class='break-xs'></span>Acclaimed Team" %}

<div align="center">
</div>
{% include two-paras.html 

paraText1="CIBC Square's conception, design, development, and promotion are the result of collaboration between Ivanho&eacute; Cambridge, Wilkinson Eyre, and Hines—devoted to building a Toronto landmark that will present a new benchmark in urban connection, worker wellness, and corporate identity."  
%}

<div id="ivanhoe-cambridge" class="m60 m60-md m60-lg"></div>

{% include team-para-title.html
title="Ivanho&eacute; Cambridge"
paragraph-content="Ivanho&eacute; Cambridge, a global real estate industry leader, invests in high-quality properties and real estate companies in select cities around the world. It does so prudently, with a long-term view to generate optimal, risk-adjusted returns. Founded in Quebec in 1953, Ivanho&eacute; Cambridge has built a vertically integrated business across Canada. Internationally, the Company invests alongside key partners and major real estate funds that are leaders in their respective markets.
<br><br>
Through subsidiaries and partnerships, Ivanho&eacute; Cambridge holds interests in nearly 800 buildings, primarily in the residential, office, retail and logistics real estate sectors. Ivanho&eacute; Cambridge held approximately C$56 billion in assets as of December 31, 2016. The Company is a real estate subsidiary of the Caisse de d&eacute;pôt et placement du Qu&eacute;bec (<a href='http://cdpq.com' target='_blank'>cdpq.com</a>), one of Canada's leading institutional fund managers. For more information: <a href='http://ivanhoecambridge.com' target='_blank'>ivanhoecambridge.com</a>." 
%}

<div class="m60 m60-md m60-lg"></div>

{% include slideshow.html id="ivanhoe-slideshow" slideshow=site.data.ivanhoe-slideshow.slideshow%}

<div id="hines" class="m60 m60-md m60-lg"></div>

{% include team-para-title.html
title="Hines"
paragraph-content="Hines is a privately owned, international real estate firm that has provided the highest level of quality, service, and value to its clients and investors for more than 58 years.
<br><br>
With locations in 19 countries and 185 cities around the globe, Hines has the breadth of experience, the network of expertise, and the financial strength to assume complex and challenging projects. The Hines portfolio of projects under way, completed, and acquired consists of more than 1,180 properties, and the firm's property management portfolio includes 511 properties comprising more than 176 million square feet (16 million square metres).
<br><br>
Since its inception in 1957, Hines has created projects of the highest quality and enduring value for its partners, clients, and local communities. Working with such notable architects as C&eacute;sar Pelli, Frank Gehry, I. M. Pei, and Philip Johnson, Hines has redefined the way developers interact with and treat architecture, promoting a balance between function, beauty, and sustainability and reshaping skylines around the world." 
%}

<div class="m60 m60-md m60-lg"></div>

{% include slideshow.html id="hines-slideshow" slideshow=site.data.hines-slideshow.slideshow%}

<div id="wilkinson-eyre" class="m60 m60-md m60-lg"></div>

{% include team-para-title.html
title="Wilkinson Eyre"
paragraph-content="Wilkinson Eyre is one of the UK's leading architectural practices. Since its inception in 1983, it has built a portfolio of bold, beautiful, intelligent architecture across a diverse range of market sectors.
<br><br>
Project highlights include the Guangzhou International Finance Center-one of the tallest buildings in the world and winner of the CTBUH Best Tall Building in Asia 2012; the giant, cooled conservatories for Singapore's Gardens by the Bay; the transformation of the New Bodleian Library for the University of Oxford; and the acclaimed London 2012 Basketball Arena.
<br><br>
Their work is based on an informed use of technology and materials and combines a commitment to the spirit of the new with an awareness of context. With commercial projects, the practice is committed to the idea that well-designed, exciting, and dynamic working environments have real quantitative benefits for clients and tenants, aiding in attracting and retaining employees, increasing productivity, and winning new business." 
%}

<div class="m60 m60-md m60-lg"></div>

{% include slideshow.html id="wilkinson-slideshow" slideshow=site.data.wilkinson-slideshow.slideshow%}

<div id="three-teams" class="m60 m60-md m60-lg"></div>


<div id="three-teams" class="three-teams-wrapper row">
    <div class="col-sm-10 col-sm-offset-1 team-wrapper">
        <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
            <h2>Adamson Associates</h2>        
            <p class="body1">Established in 1934, Adamson Associates is noted for its long tradition of design excellence and technical expertise. The firm has developed a diverse portfolio of projects in Canada, the United States and around the world, encompassing projects in a wide range of sectors, including commercial; cultural; hotel and residential; institutional; large-scale, mixed-use development sites; retail and entertainment; and airports and transportation centres.</p>
        </div>
        <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
            <h2>Cushman & Wakefield</h2>        
            <p class="body1">Cushman & Wakefield is a leading global real estate services firm that helps clients transform the way people work, shop, and live. The firm's 43,000 employees in more than 60 countries provide deep local and global insights that create significant value for occupiers and investors around the world. Cushman & Wakefield is among the largest commercial real estate services firms with revenue of $5 billion across core services.</p>
        </div>
        <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
            <h2>DBOX</h2>        
            <p class="body1">DBOX is a design agency dedicated to craft and innovation in the strategic development of brands. We create stories and experiences in the fields of architecture, art, hospitality, and culture. DBOX was founded in 1996 and maintains studios in New York, London, and Miami.</p>
        </div>
    </div>
</div>

<div class="m40"></div>

{% include pages-navigation.html 
left-page="true"
left-url="/park-amenities/"
left-title="PARK & AMENITIES"
%}
