---
layout: default
pageName: building
explicitVar: building
title: Bay Park Centre
description: Bay Park Centre is a multi-phase commercial development in downtown Toronto, comprising two office towers (81 Bay Street and 141 Bay Street) connected by an expansive, landscaped park. Bay Park Centre will feature PATH access, LEED/WELL design, and best-in-class amenities. The Bay Park Centre team is Ivanho&eacute; Cambridge, Hines, Wilkinson Eyre Architects, Adamson Associates Architects, and Cushman & Wakefield.
looping-video: assets/looping-videos/Building/Building.mp4
looping-video-poster: assets/looping-videos/Building/Building.jpg
---
<div id="overview" class="m60"></div>

{% include titlebox.html titleText="Connecting Toronto to a new international standard of office building" %}

<div class="m60 m60-md m60-lg"></div>

{% include slideshow.html id="building-slideshow" slideshow=site.data.building-slideshow.slideshow%}

<div class="m60 m90-sm m110-lg"></div>

{% include two-paras.html 

paraText1="A highly visible pair of innovative office towers on a 3 million square foot downtown campus, Bay Park Centre is the result of a joint effort between global real estate leaders Ivanho&eacute; Cambridge and Hines, and the last remaining office development with a commercially renowned Bay Street address." 

paraText2="81 Bay Street&mdash;the first of the two towers comprising Bay Park Centre&mdash;will feature 49 floors and 1.5 million square feet of state-of-the-art offices and collaborative spaces, with expansive views of Lake Ontario and Toronto's skyline. Equipped with an extensive suite of amenities (including a one-acre elevated park connecting the two buildings), unparalleled views, and state-of-the-art offices and collaboration spaces, Bay Park Centre will accommodate the needs of the most discerning global companies." 
%}

<div class="m60 m90-sm m110-lg"></div>

{% include titlebox.html titleText="Designed to maximize efficiency with open floor plates and state-of-the-art infrastructure." %}

<div class="m60 m90-sm m110-lg"></div>

<!--Test-fits and Views section navigations -->
<div class="row test-fits-nav">
	<a href="/building/test-fits/">
		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-left two-paras-wrapper hover-area flex-align-center">			
			<div class="col-sm-7 nav-image">
				<img src="assets/images/building/testfits_crop.png" alt="Building test fits crop">
			</div>

			<!-- <img class="absolute-image" src="/assets/images/building/test-fits-background.jpg"> -->
			<div class="col-xs-11 col-xs-pull-1 col-sm-5 col-sm-pull-0 text">
				<div class="bar"></div>	
				<h2>Test Fits</h2>
				<p class="body1">Office floors are technologically advanced and mindfully detailed with floor to ceiling acoustically optimized windows and state of the art airflow and temperature control.</p>
				<p class="honey link1">Learn More <img src="/assets/images/icons/arrow-right-honey-link.png" class="jumping-arrow">
				<p> 
			</div>
		</div>
	</a>
</div>

<div class="m60-sm m90-lg"></div>

<div class="row views-nav">
	<a href="/building/views/">		
		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-left two-paras-wrapper hover-area flex-align-center">
			<!-- <img class="absolute-image" src="/assets/images/building/views-background.jpg"> -->
			<div class="col-xs-11 col-xs-push-1 col-sm-5 col-sm-push-0 text">
				<div class="bar"></div>	
				<h2>Views</h2>
				<p class="body1">Bay Park Centre offers unobstructed panoramic perspectives on the lake landmarks and the iconic skyline to which it will be so vitally connected.</p>
				<p class="honey link1">Learn More <img src="/assets/images/icons/arrow-right-honey-link.png" class="jumping-arrow">
				<p> 
			</div>
			<div class="col-sm-7 nav-image">
				<img src="assets/images/building/views_crop.jpg" alt="Building view crop">
			</div>
		</div>
	</a>
</div>
<!-- / Test-fits and Views section navigations -->

<div id="efficiency" class="m60 m90-sm m110-lg"></div>

{% include diagram.html id="efficiency" data=site.data.building-diagram.efficiency title="ENGINEERED FOR EFFICIENCY" button-position="pull-left" %}

<div class="m60 m90-sm"></div>

{% include gray-banner.html 
title="LEED&trade;<br class='hidden-xs hidden-sm'> WELL&trade;<br class='hidden-xs hidden-sm'> &amp; WIRED&trade;"
paragraph-content="<p class='caption'>Bay Park Centre is engineered to LEED&trade; Platinum and WELL&trade; specifications, from paint to panorama. It was designed not just for resource efficiency, but with its users' health wellness and quality of life at centre focus.</p><p class='caption'>Along with access to shared green spaces the building offers high-efficiency energy and water solutions, highly optimized air filtration and ventilation, 500+ bicycle storage racks, and more.</p><p class='caption'>Bay Park Centre has earned a coveted Platinum level Wired Certification for best-in-class internet infrastructure, the preeminent international program that rates and recognizes the infrastructure, technology and connectivity of office buildings.</p>"
images="<img src='/assets/images/logos/LEED_logo_white.png' width='98' height='89'><img src='/assets/images/logos/Wired_logo_white.png' width='98' height='89'><img src='/assets/images/logos/WELL_logo_white.png' width='98' height='89'>"
%}

<div class="m60 m90-lg"></div>

{% include para-top-img-bottom.html 
title="Commerial Development:<br> 1845 — Present" 
para="Bay Park Centre will set a new standard for technology and innovation that far surpasses buildings from previous eras of development. This map shows neighbouring buildings, colour coded by their age."
thumbimage="/assets/images/building/building_ages.jpg"
bigimage="/assets/images/building/building_ages.jpg"
image-caption="Commercial development  map from 1845 to present."
%}

<div id="features-specs" class="m60 m90-md"></div>

{% include fancy-paragraph.html 
modal = "modal"
role="button"
featuresModalID = "#features-and-specs"
hover="hover-area"
title="Features & Specs" 
para="Designed to reflect a new international standard of office building Bay Park Centre aspires to architectural and structural excellence exceeding mechanical electrical and security expectations and garnering LEED Platinum and WELL accreditations along the way."
arrow="<span class='link1 honey'>Learn More <img src='/assets/images/icons/arrow-right-honey-link.png' class='jumping-arrow'></span>"
%}

<div class="m40"></div>

{% include pages-navigation.html  
right-page="true"
right-url="/location/"
right-title="LOCATION"
%}
