<div class="col-xs-10 col-xs-offset-1 amenities-grid">
	<div class="caption amenities-grid-title">
		<p>Amenities will include:</p>
	</div>
	
	<div class="amenities-flex-grid">
		<div class=" amenities-grid-column left">
			
			<ul class="amenities-grid-item">
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>Elevated one-acre park</span>
				</li>
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>VIP Parking & Waiting Area</span>
				</li>
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>Bicycle parking for 500</span>
				</li>
			</ul>
			<img class="amenities-grid-item" src="/assets/images/park-amenities/amenities/grid/cardoor.jpg" alt="Valet opening car door">
			
			<img class="amenities-grid-item" src="/assets/images/park-amenities/amenities/grid/cafe.jpg" alt="Bird's eye view of people in outdoor seating area">
		
		</div>
		
		<div class=" amenities-grid-column center">
			<img class="amenities-grid-item" src="/assets/images/park-amenities/amenities/grid/wineglass.jpg" alt="Wine glass">
					
			<ul class="amenities-grid-item">
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>White Table Cloth Dining</span>
				</li>
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>Collaborative Meeting Areas</span>
				</li>
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>Conference Center</span>
				</li>
                <li class="caption">
					<span class="list-arrow">»</span>
					<span>Free Wi-Fi in all building amenity areas including park</span>
				</li>
                <li class="caption">
					<span class="list-arrow">»</span>
					<span>Distributed antenna system for reliable cellular coverage</span>
				</li>
			</ul>
			<img class="amenities-grid-item" src="/assets/images/park-amenities/amenities/grid/chef.jpg" alt="A chef making food">
			
		</div>
		
		<div class=" amenities-grid-column right">
			<img class="amenities-grid-item" src="/assets/images/park-amenities/amenities/grid/treadmill.jpg" alt="Woman on a treadmill">
					
			<ul class="amenities-grid-item">
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>First Class Fitness Facility</span>
				</li>
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>28 Showers (14 per gender)</span>
				</li>
			</ul>
			
			<img class="amenities-grid-item" src="/assets/images/park-amenities/amenities/grid/meeting.jpg" alt="An empty conference room">
		
			<ul class="amenities-grid-item">
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>Casual dining</span>
				</li>
				<li class="caption">
					<span class="list-arrow">»</span>
					<span>Food Market</span>
				</li>
			</ul>
		</div>
	</div>
</div>