<footer class="container-fluid {% if page.url == '/building/test-fits/' %}m40{% endif %}">
	<!--<div class="footer-container">-->
		<div class="row footer-wrapper">
		
			 <div class="col-xs-3">
				<button class="plain link1" data-toggle="modal" data-target="#news">
					News
				</button>
			</div> 
			
			<div class="col-xs-3">
				<button class="plain link1" data-toggle="modal" data-target="#legal">
					Legal
				</button>
			</div>
			
			<div class="col-xs-3">
				<button class="plain link1" data-toggle="modal" data-target="#contact">
					Contact
				</button>
			</div>

			<div class="col-xs-3">
					<button class="plain link1" data-toggle="modal" data-target="#community">
						Community
					</button>
				</div>
			
		</div>
		
		<div class="row footer-wrapper">
			
			<div class="col-xs-2">
				<a class="social-link" href="https://twitter.com/BayParkCentre" target="_blank">
					<img class="footer-social" src="/assets/images/icons/twitter.png">
				</a>
			</div>
			
			<div class="col-xs-2">
				<a class="social-link" href="https://www.linkedin.com/company/ivanhoe-cambridge" target="_blank" data-proofer-ignore>
					<img class="footer-social" src="/assets/images/icons/linkedin.png" target="_blank">
				</a>
			</div>
		
		<div class="col-xs-2">
				<a class="social-link" href="https://www.youtube.com/user/IvanhoeCambridge" target="_blank">
					<img class="footer-social" src="/assets/images/icons/youtube.png" target="_blank">
				</a>
			</div>
			
			<div class="col-xs-4">
				<a class="social-link" href="http://www.ivanhoecambridge.com/en" target="_blank">
					<img class="footer-social-logo" src="/assets/images/logos/ivanhoe-logo.svg">
				</a>
			</div>
			
		</div>
		
		<!-- flaticon creds -->
		<div class="hidden">Icons made by <a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
	<!--</div>-->
</footer>
