<div class="modal fade" id="slideshow" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-left">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<img src="/assets/images/icons/close_button.png" alt="close modal button" width="16px">
        </button>
        
        <div id="caption-slideshow" class="caption-carousel carousel slide carousel-fade col-xs-10" data-ride="carousel" data-interval="false" data-keyboard="true">
          <div class="carousel-inner" role="listbox">
            {% for item in site.data.building-slideshow.slideshow %}
            <div class="item {% if forloop.first  %}active{% endif %}">
                <h5 class="white modal-title">
                  <span class="white">{{forloop.index}} of {{forloop.length}} | </span>
                  <small class="sans white">{{item.caption}}</small>
                </h5>
            </div>
            {% endfor %}
          </div>  
        </div>

      </div>
      <div class="modal-body slideshow-body">

          <div id="modal-slideshow" class="carousel slide" data-ride="carousel" data-interval="false">

            <div class="carousel-inner" role="listbox">
              
              {% for item in site.data.building-slideshow.slideshow %}
              <div class="item {% if forloop.first  %}active{% endif %}">
                  <img src="{{item.url}}" alt="{{item.caption}}">
              </div>
              {% endfor %}
            
            </div>  
            <!-- Controls -->
            <a class="left swiper-button-prev" href="#modal-slideshow" role="button" data-slide="prev"></a>
            <a class="right swiper-button-next" href="#modal-slideshow" role="button" data-slide="next"></a>

          </div>
      	 
      </div>
    </div>
  </div>
</div>
