<div class="modal fade" id="community" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-target="#community" data-dismiss="modal" aria-label="Close">
        	<img src="/assets/images/icons/close_button.png" alt="close modal button" width="16px">
        </button>
        <h2 class="white modal-title text-center">CIBC Square Community Updates</h2>
      </div>
      <div class="modal-body">
        <div class="legal-body">
          <p class="wrapper text-center">This is where we can place a description of this page.</p>
          <img class="modal-title-image" src="http://via.placeholder.com/500x300?text=Description+Image" alt="CIBC Square Community Updates Description" />

          {% for post in site.posts %}
            <div class="post">
                <div class="post-bar"></div>
                <h2  class="post-title white">{{post.title}}</h2>
                <p class="post-date white" style="text-transform:uppercase;">{{ post.date | date: "%-m/%-d/%Y" }}</p>
                {%if post.thumbnail %}
                  <div class="post-img"><img src="{{post.thumbnail}}" alt="{{post.title}}" /></div>
                {%endif%}
                <div class="post-content small">{{post.content}}</div>
                <p class="post-read-more hover-area honey link1">
                  <span class="honey">Read More</span>
                  <img src="/assets/images/icons/arrow-right-honey-link.png" style="width:1.5em;" class="jumping-arrow">
                </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

