<div class="modal fade" id="features-and-specs" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<img src="/assets/images/icons/close_button.png" alt="close modal button" width="16px">
        </button>
        <h2 class="white modal-title text-center">Features and Specs</h2>
  		</div>
  		<div class="modal-body features-body">
			<div class="col-sm-10 col-sm-offset-1">
		        <div class="col-sm-6 feature">
		        	<p class="sans">
		        		Designed to reflect a new international standard of office building, CIBC Square is founded in architectural and structural excellence, exceeding mechanical, electrical, and security expectations, which will garner LEED™ Platinum and WELL™ accreditations. Read on for detailed technical specifications for 81 Bay Street.
		        	</p>
		        </div>
				
				<div class="col-sm-6 feature">
					<h3>Parking</h3>
					<p class="sans">
						386 underground parking spaces, 1 per 4,000 sf of office space 500+ bicycle parking spaces for building occupants and visitors.
					</p>
				</div>

				<div class="col-sm-6 feature right">
					<h3>Architecture</h3>
					<div class="col-xs-6 sans">Number of floors:</div>
					<div class="col-xs-6 sans">49</div>
					<div class="col-xs-6 sans">Total rentable area:</div>
					<div class="col-xs-6 sans">1,500,000 sf(BOMA 1996)</div>
					<div class="col-xs-6 sans">Typical low-rise floor plate:</div>
					<div class="col-xs-6 sans">31,000 sf</div>
					<div class="col-xs-6 sans">Typical high-rise floor plate:</div>
					<div class="col-xs-6 sans">33,000 sf</div>
					<div class="col-xs-6 sans">Typical podium floor plate:</div>
					<div class="col-xs-6 sans">64,000 sf</div>
					<div class="col-xs-6 sans">Office ceiling height:</div>
					<div class="col-xs-6 sans">9'6" typical clear ceiling height</div>
					<div class="col-xs-6 sans">Poium ceiling height:</div>
					<div class="col-xs-6 sans">12'0" typical clear ceiling height</div>
					<div class="col-xs-6 sans">Podium floors:</div>
					<div class="col-xs-6 sans">Raised floor for power and data distribution</div>
					<div class="col-xs-6 sans">Floor plate:</div>
					<div class="col-xs-6 sans">42' column free core to glass span</div>
					<div class="col-xs-6 sans">Egress:</div>
					<div class="col-xs-6 sans">Stairs designed to code + 1 for increased exit capacity (designed for 75 sf per person)</div>
				</div>
				
				<div class="col-sm-6 feature left">
					<h3>Enviromental / Sustainability / Technology</h3>
					<ul class="sans list-group">
						<li class="list-group-item">
							Engineered to LEED&trade; Platinum (core and shell) standards
						</li>
						<li class="list-group-item">
							Pursuing WELL Building Standard&trade; Building certification
						</li>
						<li class="list-group-item">
							Earned Wired&trade; Platinum Certification for best-in-class internet infrastructure
						</li>
					</ul>
				</div>

				<div class="col-sm-6 feature right">
					<h3>Elevators</h3>
		        	<ul class="sans list-group">
						<li class="list-group-item">
							Destination dispatch system.
						</li>
						<li class="list-group-item">
							4 low-rise passenger elevators to the high-density floors (levels 5-7).
						</li>
						<li class="list-group-item">
							8 low-rise passenger elevators.
						</li>
						<li class="list-group-item">
							8 mid-to-low-rise passenger elevators.
						</li>
						<li class="list-group-item">
							8 mid-to-high-rise passenger elevators.
						</li>
						<li class="list-group-item">
							8 high-rise passenger elevators.
						</li>
						<li class="list-group-item">
							4 parking-shuttle elevators.
						</li>
						<!--<li class="list-group-item">
							2 2,700-kg tower freight elevators.
						</li>-->
						<li class="list-group-item">
							2 tower freight elevators.
						</li>
					</ul>
				</div>

				<div class="col-sm-6 feature">
					<h3>Sustainability Features</h3>
					<ul class="sans list-group">
						<li class="list-group-item">
							High-efficiency water fixtures that reduce consumption by more than 40% compared to typical fixtures.
						</li>
						<li class="list-group-item">
							Energy costs reduced by 40% when compared to a typical, similar new building as outlined by the Model National Energy Code for Buildings, a Canadian energy standard.
						</li>
						<li class="list-group-item">
							A submetering system allowing tenants to receive feedback on their own energy consumption.
						</li>
						<li class="list-group-item">
							Mechanical systems designed to exceed minimum volume of outside air as established by ASHRAE Standards.
						</li>
						<li class="list-group-item">
							Thermal comfort in alignment with the latest version of ASHRAE Standards.
						</li>
						<li class="list-group-item">
							A high level of air filtration installed on all mechanical equipment.
						</li>
						<li class="list-group-item">
							Low volatile organic compounds (VOCs) building materials to support superior indoor-air quality.
						</li>
						<li class="list-group-item">
							Floor plates designed with high-quality access to natural daylight and views.
						</li>
						<li class="list-group-item">
							Maximum use of green roof areas.
						</li>
						<li class="list-group-item">
							Enhanced humidification and dehumidification control to maintain a comfortable indoor humidity.
						</li>
						<li class="list-group-item">
							Consistent verification of fundamental water quality.
						</li>
						<li class="list-group-item">
							Demand-controlled ventilation systems.
						</li>
						<li class="list-group-item">
							Enhanced duct protection during construction.
						</li>
						<li class="list-group-item">
							Stair-use promotion via increased lighting and artwork.
						</li>
						<li class="list-group-item">
							500+ bicycle storage racks and tenant-shower facilities, with close proximity to transit.
						</li>
					</ul>
				</div>

		        <div class="col-sm-6 feature">
		        	<h3>Mechanical / Plumbing</h3>
		        	<ul class="sans list-group">
						<li class="list-group-item">
							HVAC designed to handle 100 sf per person on a typical office floor and 75 sf per person on a podium floor.
						</li>
						<li class="list-group-item">
							Ability to provide after-hours HVAC on an individual floor-by-floor basis.
						</li>
						<li class="list-group-item">
							29 zones per typical tower floor and 64 zones per high-density floor to provide efficient diversity.
						</li>
						<li class="list-group-item">
							Chilled water taps provided for tenant 24-hour supplemental cooling needs.
						</li>
						<li class="list-group-item">
							Building designed to code + 1 washroom capacity for maximum densification ability (designed for 100 sf per person on a typical office floor and 70 sf per person on a podium floor).
						</li>
						<!--<li class="list-group-item">
							Office floor ventilation (outdoor air) = 0.2 CFM per sf.
						</li>-->
						<li class="list-group-item">
							Office/High-Density floor ventilation (outdoor air) = 20 CFM per person.
						</li>
					</ul>
		        </div>
				
				<div class="col-sm-6 feature">
					<h3>Amenities</h3>
					<ul class="sans list-group">
						<li class="list-group-item">
							Bay Park: a one-acre-plus park for tenant use.
						</li>
						<li class="list-group-item">
							First class fitness facility.
						</li>
						<li class="list-group-item">
							Dedicated conference centre.
						</li>
						<li class="list-group-item">
							Free Wi-Fi in all building amenity areas including park.
						</li>
						<li class="list-group-item">
							Distributed antenna system for reliable cellular coverage.
						</li>
						<li class="list-group-item">
							Collaborative space.
						</li>
						<li class="list-group-item">
							Market-style food court connected to Bay Park.
						</li>
						<li class="list-group-item">
							Fine-dining outlets.
						</li>
						<li class="list-group-item">
							VIP entrance and black-car staging on parking level 1.
						</li>
						<li class="list-group-item">
							Showers and change-room facility (14 per gender).
						</li>
					</ul>
				</div>

		        <div class="col-sm-6 feature right">
		        	<h3>Electrical / Lighting</h3>
		        	<ul class="sans list-group">
						<li class="list-group-item">
							Dual feeds from Toronto Hydro Substation for maximum reliability.
						</li>
						<li class="list-group-item">
							Occupancy- and daylight-harvesting sensors provided on all floors.
						</li>
						<li class="list-group-item">
							High-efficiency tenant lighting providing 40 candles at desktop height.
						</li>
						<li class="list-group-item">
							Provision for two additional 500 kW generators available for tenant use.
						</li>
						<li class="list-group-item">
							Typical tower floors supplied with 6.0 watts per sf.
						</li>
						<li class="list-group-item">
							High-density floors supplied with 8.5 watts per sf.
						</li>
					</ul>
		        </div>
			
				<div class="col-sm-6 feature left">
					<h3>Security</h3>
					<p class="sans">
						CCTV surveillance located throughout all common areas and entry points 24/7 card access and staffed onsite security.
					</p>
				</div>
			</div>
 	 	</div>
    </div>
  </div>
</div>
