<div class="modal fade" id="expand" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body expand-body">
        <!-- modal close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="/assets/images/icons/close_button.png" alt="close modal button" width="16px">
        </button>

		    <img class="expanded-image" src="/assets/images/building/building_ages.jpg" alt="Image caption.">
      </div>
    </div>
  </div>
</div>
