@font-face {
    font-family: 'freight-display-pro'; /* karbon */
    src: url('/assets/fonts/garagefonts-freightdispprobook-webfont.eot');
    src: url('/assets/fonts/garagefonts-freightdispprobook-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/garagefonts-freightdispprobook-webfont.woff2') format('woff2'),
         url('/assets/fonts/garagefonts-freightdispprobook-webfont.woff') format('woff'),
         url('/assets/fonts/garagefonts-freightdispprobook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freight-sans-pro'; /* karbon */
    src: url('/assets/fonts/garagefonts-freightsansprobook-webfont.eot');
    src: url('/assets/fonts/garagefonts-freightsansprobook-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/garagefonts-freightsansprobook-webfont.woff2') format('woff2'),
         url('/assets/fonts/garagefonts-freightsansprobook-webfont.woff') format('woff'),
         url('/assets/fonts/garagefonts-freightsansprobook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-Regular.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Regular.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Regular.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'freight-text-pro-light'; /* karbon-light */
    src: url('/assets/fonts/garagefonts-freightsansprolight-webfont.eot');
    src: url('/assets/fonts/garagefonts-freightsansprolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/garagefonts-freightsansprolight-webfont.woff2') format('woff2'),
         url('/assets/fonts/garagefonts-freightsansprolight-webfont.woff') format('woff'),
         url('/assets/fonts/garagefonts-freightsansprolight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'karbon-light';
  src: url('/assets/fonts/karbon/KarbonWeb-Light.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Light.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Light.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'freight-text-pro'; /* karbon */
    src: url('/assets/fonts/garagefonts-freighttextprobook-webfont.eot');
    src: url('/assets/fonts/garagefonts-freighttextprobook-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/garagefonts-freighttextprobook-webfont.woff2') format('woff2'),
         url('/assets/fonts/garagefonts-freighttextprobook-webfont.woff') format('woff'),
         url('/assets/fonts/garagefonts-freighttextprobook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-Regular.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Regular.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Regular.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'freight-sans-pro-medium'; /* karbon-medium */
    src: url('/assets/fonts/garagefonts-freightsanspromedium-webfont.eot');
    src: url('/assets/fonts/garagefonts-freightsanspromedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/garagefonts-freightsanspromedium-webfont.woff2') format('woff2'),
         url('/assets/fonts/garagefonts-freightsanspromedium-webfont.woff') format('woff'),
         url('/assets/fonts/garagefonts-freightsanspromedium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'karbon-medium';
  src: url('/assets/fonts/karbon/KarbonWeb-Medium.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Medium.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Medium.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-Thin.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Thin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Thin.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Thin.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-Regular.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Regular.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Regular.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-Bold.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Bold.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Bold.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-SemiBold.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-SemiBold.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-SemiBold.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-LightItalic.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-LightItalic.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-LightItalic.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-ThinItalic.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-ThinItalic.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-ThinItalic.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-HairlineItalic.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-HairlineItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-HairlineItalic.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-HairlineItalic.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-Medium.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Medium.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Medium.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-Light.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Light.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Light.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-Hairline.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-Hairline.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-Hairline.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-Hairline.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-SemiboldItalic.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-SemiboldItalic.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-SemiboldItalic.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-MediumItalic.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-MediumItalic.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-MediumItalic.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-BoldItalic.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-BoldItalic.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-BoldItalic.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'karbon';
  src: url('/assets/fonts/karbon/KarbonWeb-RegularItalic.eot');
  src: url('/assets/fonts/karbon/KarbonWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/karbon/KarbonWeb-RegularItalic.woff2') format('woff2'),
       url('/assets/fonts/karbon/KarbonWeb-RegularItalic.woff') format('woff'),
       url('/assets/fonts/karbon/KarbonWeb-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body, td, span, p, input {
  color: #A7A9AC;
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4, .h4, h6 {
  color:#6D6E71;
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color:#6D6E71;
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 1.2;
  color: #000;
}

h2 {
  color:#6D6E71;
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
  letter-spacing: 0px;
  line-height: 1.2;
  color: #000;
}

h3 {
  color: #A7A9AC;
  font-family: 'karbon-medium';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h5 {
  color: #6D6E71;
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
}

.body1 {
  color: #6D6E71;
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  letter-spacing: 0;
}

.body2 {
  color: #b9bdc3;
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  letter-spacing: 0.1em;
}

.caption {
  color: #9ba1a9; 
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: normal;
}

.menu1 {
  color: #6b717d;
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  letter-spacing: 0;
}

@media screen and (max-width: 429px) {
  .menu1-mobile {
    font-size: 13px;
  }
}
@media screen and (min-width: 430px) and (max-width: 750px) {
  .menu1-mobile {
    font-size: 14px;
  }
}

.menu2 {
  color: white;
  font-family: 'karbon';
  font-weight: normal;
  font-size: 17px;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu3 {
  color: #9ba1a9;
  font-family: 'karbon';
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link1, .link1 span, button {
  font-family: 'freight-text-pro-light';
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.link1 {
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.link2 {
  font-family: 'karbon';
  font-weight: normal;
  font-size: 20px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 430px) {
  .menu1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  .body1 {
    font-size: 18px;
  }

  .body2 {
    font-size: 18px;
  }

  .menu2 {
    font-size: 17px;
  }

  .menu3 {
    color: #9ba1a9;
    font-family: 'karbon';
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  .link2 {
    font-size: 24px;
  }
}


.serif {
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sans {
  font-family: 'karbon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration:none;
  color:#C7C8CA;
}

h1.heading {
  font-size:200%;
  line-height:1;
}
