---
layout: default
pageName: building
title: Bay Park Centre Views
description: Bay Park Centre is a multi-phase commercial development in downtown Toronto, comprising two office towers (81 Bay Street and 141 Bay Street) connected by an expansive, landscaped park. Bay Park Centre will feature PATH access, LEED/WELL design, and best-in-class amenities. The Bay Park Centre team is Ivanhoé Cambridge, Hines, Wilkinson Eyre Architects, Adamson Associates Architects, and Cushman & Wakefield.
---

<div class="m60"></div>

{% include titlebox.html titleText="Views" %}

<div class="m60"></div>

<!--panoramas-->
<div class="container-fluid views-container">
    <div name="high-rise" class="row pano-button" role="button" data-toggle="modal" data-target="#view">
       <div class="col-xs-10 col-sm-6 col-md-3 text-left">
           <div class="bar"></div>
           <h2>Floor 49</h2>
           <div class="caption">214 meters</div>
           <div class="caption">702 feet</div>
       </div> 
    </div>
    
    <div name="mid-high-rise" class="row pano-button" role="button" data-toggle="modal" data-target="#view">
       <div class="col-xs-10 col-sm-6 col-md-3 text-left">
           <div class="bar"></div>
           <h2>Floor 40</h2>
           <div class="caption">175 meters</div>
           <div class="caption">574 feet</div>
       </div> 
    </div>
    
    <div name="mid-low-rise" class="row pano-button" role="button" data-toggle="modal" data-target="#view">
       <div class="col-xs-10 col-sm-6 col-md-3 text-left">
           <div class="bar"></div>
           <h2>Floor 25</h2>
           <div class="caption">107 meters</div>
           <div class="caption">351 feet</div>
       </div> 
    </div>
</div>
<!-- / panoramas-->

<div class="m60 m90-sm"></div>

{% include what-to-see-next.html
hover="hover-area"
link1="/building/test-fits"
title1="Test Fits"
image1="/assets/images/building/wtsn-thumb-testfit.jpg"
imageCaption1="Stacking plan image and test fits."
arrow1="<span class='honey link1'>Learn More <img src='/assets/images/icons/arrow-right-honey-link.png' class='jumping-arrow'></span>"

link2="/#efficiency"
title2="Engineered <br> for Efficiency"
image2="/assets/images/building/wtsn-thumb-efficiency.jpg"
imageCaption2="Engineered for efficiency image."
arrow2="<span class='honey link1'>Learn More <img src='/assets/images/icons/arrow-right-honey-link.png' class='jumping-arrow'></span>"
%}

<div class="m40"></div>

{% include pages-navigation.html  
right-page="true"
right-url="/location/"
right-title="LOCATION"

left-page="true"
left-url="/"
left-title="BUILDING"
%}
