---
layout: default
pageName: park-amenities
title: Bay Park Centre Park & Amenities
description: Bay Park Centre is a multi-phase commercial development in downtown Toronto, comprising two office towers (81 Bay Street and 141 Bay Street) connected by an expansive, landscaped park. Bay Park Centre will feature PATH access, LEED/WELL design, and best-in-class amenities. The Bay Park Centre team is Ivanhoé Cambridge, Hines, Wilkinson Eyre Architects, Adamson Associates Architects, and Cushman & Wakefield.
looping-video: /assets/looping-videos/Park&Amenities/Park&Amenities.mp4
looping-video-poster: /assets/looping-videos/Park&Amenities/Park&Amenities.jpg
---

<div class="m60"></div>

{% include titlebox.html titleText="Bay Park Centre’s <span class='break-xs'></span>top level amenities <span class='break-all'></span> and outdoor spaces <span class='break-xs'></span>raise the bar on <span class='break-all'></span>productivity and well-being<span class='break-all'></span>" %}

<div id="park" class="m60 m90-sm"></div>

{% include para-top-img-bottom.html 
reverse="true"
thumbimage="/assets/images/park-amenities/park/bay-st-park.jpg" 
bigimage="/assets/images/park-amenities/park/bay-st-park.jpg" 
image-caption="Bay Park Centre, park view."
title="The Park"
para="Bay Park Centre is designed to foster a unique balance between people and nature, integrating the latest technology and design with the highest ideals of comfort, health, and lifestyle. This promises to attract, define, and maintain tenants in Bay Park Centre for the long term. Bay Park Centre will become an icon for innovative and progressive building design."
%}

{% include para-right-img-left.html
thumbimage="/assets/images/park-amenities/park/elevated-park.jpg"
bigimage="/assets/images/park-amenities/park/elevated-park.jpg"
image-caption="Bay Park Centre's elevated park is a state-of-the-art outdoor space"
para="Bay Park Centre's elevated park is a state-of-the-art outdoor space connecting the two towers to each other and to Greater Toronto. It will provide a space to convene and refresh, and for corporate tenants to host memorable events. It will also be fully wired to act as an extension of the workplace, including the addition of a series of innovative garden meeting rooms.
<br><br>
Perched high above the railways below, the park overlooks a green roof cultivated with seasonal native plants covering the railway shed, becoming part of the park's evolving landscape—one of the many ways that the park relates to its surroundings.
<br><br>
The park will connect 81 Bay Street and 141 Bay Street at the fourth-floor level with an impressively varied topography: slopes and hills, horticulture, gardens, shade groves, balconies, and vista areas that interplay with the campus and surrounding urban structures, skies, and lake." 
%}
<div class="m30"></div>
<div class="m60 m90-sm"></div>

{% include gray-banner.html 
title="PARK PROGRAMMING"
id="biederman-banner"
paragraph-content="<p class='caption'>Throughout the year, the park's diverse landscape will provide the setting for a varied and exciting schedule of programs. Dan Biederman, who masterminded New York City's hugely successful Bryant Park programming, will curate a seasonal selection of art and music exhibitions, games, literary events, and more. Complementary programming will integrate with business meetings, lunch breaks, and impromptu gatherings in what will surely be a focal point of Bay Park Centre—and downtown Toronto's—culture.</p>"
id="biederman-slideshow"
slideshow=site.data.biederman-slideshow.slideshow
%}

<div id="amenities" class="m60 m90-sm"></div>

{% include para-top-img-bottom.html 
title="Amenities" 
para="Bay Park Centre's numerous amenities are designed to accommodate the active, healthy lifestyles of its tenants. A high-end fitness facility, secure bicycle storage, tenant showers, and changing facilities cater to the active lifestyle, while a dedicated best-in-class conference facility and collaboration spaces allow for business gatherings of any type. A food market and fine-dining options round out the amenity list, encouraging Bay Park Centre tenants' health, happiness, and productivity."
thumbimage="/assets/images/park-amenities/amenities/amenity-fp.png"
bigimage="/assets/images/park-amenities/amenities/amenity-fp.png"
image-caption="Bay Park Amenities map"
style="background-color: #fff;"
%}

<div class="m40"></div>

{% include para-top-img-bottom.html 
para="A thriving food hall-style market offers a wide array of healthy and delicious offerings, with seating inside and out."
thumbimage="/assets/images/park-amenities/amenities/amenity_render_thumb.jpg"
bigimage="/assets/images/park-amenities/amenities/amenity_render.jpg"
image-caption="A thriving food hall-style market offers a wide array of healthy and delicious offerings, with seating inside and out."
%}

<div class="m60"></div>

<div class="row">{% include amenities-grid.html %}</div>

<div class="m40"></div>

{% include pages-navigation.html  
right-page="true"
right-url="/team/"
right-title="TEAM"

left-page="true"
left-url="/location/"
left-title="LOCATION"
%}
