---
layout: default
pageName: location
title: Downtown Toronto's commercial development - Bay Park Centre
description: Bay Park Centre is a multi-phase commercial development in downtown Toronto, comprising two office towers (81 Bay Street and 141 Bay Street) connected by an expansive, landscaped park. Bay Park Centre will feature PATH access, LEED/WELL design, and best-in-class amenities. The Bay Park Centre team is Ivanhoé Cambridge, Hines, Wilkinson Eyre Architects, Adamson Associates Architects, and Cushman & Wakefield.
looping-video: /assets/looping-videos/Location/Location.mp4
looping-video-poster: /assets/looping-videos/Location/Location.jpg
---
<div class="m60"></div>
{% include titlebox.html titleText="Connecting to all the best Toronto has to offer" %}

<div align="center">
	<div class="bar"></div>
</div>
{% include two-paras.html

paraText1="Bay Park Centre is designed to connect effortlessly to downtown Toronto and beyond via all major modes of transportation, while a series of innovative pathways—above, below, and at ground level—will connect 81 Bay Street with its sister tower, 141 Bay Street, and downtown Toronto's PATH network, businesses, and amenities." 

paraText2="Bay Park Centre will provide easy access to all transport, with its seamless connection to Union Station, the Gardiner Expressway, Pearson International and Billy Bishop Airports, and a robust regional rail and bus system. The Bay Park Centre site also enjoys a seamless connection to world-class hotels, St. Lawrence Market, the Entertainment and Distillery Districts, Yorkville, downtown Yonge, the waterfront, Air Canada Centre, the Metro Toronto Convention Centre and more." 
%}

<div id="neighbourhood" class="m60 m60-md m60-lg"></div>

{% include diagram.html 
id="neighborhood"
data=site.data.location-diagrams.neighborhood  
button-position="pull-left" %}

<div id="site-access" class="m40"></div>

<div align="center">
	<div class="bar"></div>	
</div>
{% include titlebox.html titleText="Access" %}

<div class="m60"></div>

{% include diagram.html 
id="baystreetaccess"
data=site.data.location-diagrams.baystreetaccess
title="81 BAY STREET ACCESS"
button-position="pull-right" %}

<div id="siteaccess-diagram" class="m60 m90-sm m110-lg"></div>

{% include diagram.html 
id="siteaccess"
data=site.data.location-diagrams.siteaccess
title="SITE ACCESS"
button-position="pull-left" %}

<div id="regional-connection" class="m60 m90-sm m110-lg"></div>

{% include para-top-img-bottom.html 
title="Regional Connection" 
bigimage="/assets/images/location/regional-connection-map.jpg"
thumbimage="/assets/images/location/regional-connection-map.jpg"
image-caption="Regional Connection"
%}

<div class="m40"></div>

{% include pages-navigation.html  
right-page="true"
right-url="/park-amenities/"
right-title="PARK & AMENITIES"

left-page="true"
left-url="/"
left-title="BUILDING"
%}
